.container {
  width: 1190px;
  margin: 0 auto;
}

/* #region Header */
.topbar {
  background-color: #ececec;
  height: 30px;
}
.topbar .left a {
  height: 30px;
  line-height: 30px;
  color: #666;
}

.topbar .left span {
  font-size: 12px;
}
.topbar .left .hello {
  margin-right: 28px;
}
.topbar .left .login {
  padding-right: 10px;
  border-right: 1px #666 solid;
  line-height: 10px;
  font-size: 10px;
}

.topbar .left .register {
  padding-left: 10px;
  font-size: 10px;
}

.topbar .right {
  height: 30px;
  line-height: 30px;
}

.topbar .right li {
  display: inline-block;
}

.topbar .right li a {
  font-size: 12px;
  padding: 0px 10px;
  border-right: 1px #666 solid;
}

.topbar .right ul li:first-child a {
  padding-left: 0px;
}

.topbar .right ul li:last-child a {
  border-right: 0;
  padding-right: 0;
}

/* #endregion */

/* #region Search */
.top-nav {
  height: 120px;
}
.top-nav .right {
  margin-top: 42px;
}

.top-nav .searchbar {
  width: 508px;
  height: 32px;
  border: 1px #dd302d solid;
}

.top-nav .searchBtn {
  width: 80px;
  height: 36px;
  background-color: #dd302d;
  background-image: url('../assets/images/search_icon.png');
  background-repeat: no-repeat;
  background-position: 28px 6px;
  vertical-align: top;
}

/* #endregion */

/* #region GoodsNav */
.goods-nav {
  height: 48px;
  border-bottom: 1px #dd302d solid;
}

.goods-nav .logo {
  display: inline-block;
  background-color: #dd302d;
  font-size: 16px;
  color: #fff;
  padding: 0px 48px;
  line-height: 48px;
}

.goods-nav ul,
.goods-nav li {
  display: inline-block;
  color: #fff;
}

.goods-nav li {
  height: 48px;
  line-height: 48px;
}
.goods-nav li a {
  padding: 0px 10px;
  color: #333;
}

.goods-nav li a:hover {
  color: #fff;
}

.goods-nav li:hover {
  background-color: #dd302d;
}
/* #endregion */

/* #region Content */
.content {
  margin-top: 10px;
}

/* #endregion */

/* #region Content aside */
.content .asideNav {
  background-color: #f4f4f4;
  width: 190px;
  position: relative;
}

.content .asideNav ul {
  padding: 9px 0px;
}

.content .asideNav li {
  height: 27.5px;
  line-height: 27.5px;
}

.content .asideNav li a {
  color: #333333;
  font-size: 14px;
  padding-left: 16px;
}
.content .asideNav li a:hover {
  color: #dd302d;
}

/* #endregion */

/* #region Content aside hover */

.content .aside-hover {
  position: absolute;
  background-color: #fff;
  width: 690px;
  height: 438px;
  left: 200px;
  top: 0px;
  padding: 10px 0;
}

.content .aside-hover dl {
  margin: 0 0 0 20px;
  height: 36px;
  line-height: 36px;
}

.content .aside-hover dd {
  font-size: 14px;
  color: #000;
  width: 70px;
}

.content .aside-hover dt {
  font-size: 14px;
  color: #666;
}
.content .aside-hover dl :nth-child(2) {
  margin-left: 10px;
}

.content .aside-hover dt a {
  font-size: 14px;
  color: #666;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px #999 solid;
}

/* #endregion */

/* #region Content banner */
.content-banner {
  background-color: cyan;
  width: 690px;
  height: 458px;
  margin-left: 10px;
}
/* #endregion */

/* #region Content News */
.content-news {
  width: 288px;
  height: 158px;
  margin-left: 10px;
  border: 1px solid #d9d9d9;
}
.content-news .top {
  margin: 5px 14px auto 14px;
  height: 34px;
  line-height: 34px;
}

.content-news .top {
  color: #000;
  font-size: 14px;
  border-bottom: 1px #d9d9d9 solid;
}

.content-news ul {
  margin-top: 8px;
  margin-left: 14px;
}

.content-news .top a {
  color: #999;
  font-size: 12px;
}

.content-news ul li {
  padding: 4px 0;
}

.content-news ul li a {
  padding: 4px 0;
  color: #666;
  font-size: 12px;
}
/* #endregion */

/* #region Content Right nav */
.content-right-nav {
  width: 290px;
  height: 290px;
  background-color: cyan;
  margin-left: 10px;
  margin-top: 10px;
}

/* #endregion */
